html, body {
    margin: 0;
    padding: 0;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 100vh; 
    overflow: hidden;
}

video.full-width {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cta-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    text-decoration: none;
    font-size: 2em;
    border: solid 2px black;

}